<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lqk.effecteam">
    <!-- 网络权限开启 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".EffecteamApp"
        android:allowBackup="true"
        android:icon="@drawable/lanuch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:strict="">
        <activity android:name=".common.calendar.CalenderActivity"></activity>
        <activity android:name=".task.create.PickActivity" />
        <activity android:name=".task.create.TaskCreateActivity" />
        <activity android:name=".project.home.ProjectHomeActivity" />
        <activity android:name=".team.member.TeamMemberListActivity" />
        <activity android:name=".team.home.TeamHomeActivity" />
        <activity android:name=".team.join.JoinTeamActivity" />
        <activity android:name=".team.create.CreateTeamActivity" />
        <activity android:name=".account.AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>